<div class="product-list" [attr.data-layout]="layout">
  <section *ngIf="items.length" class="product-list__group">
    <div class="product-list__header">
      <ion-icon name="cube-outline" aria-hidden="true"></ion-icon>
      <span>Products</span>
    </div>

    <div class="product-list__items">
      <div class="product-row" *ngFor="let item of items">
        <span class="product-row__name">{{ item.name }}</span>
        <strong class="product-row__qty">{{ item.quantity }}</strong>
      </div>
    </div>
  </section>
</div>
